.category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16.2rem;
  padding: 1rem 4rem;
  position: relative;
  font-size: 1rem;
  border-bottom: 1px solid black;
}

.category p:nth-child(3) {
  margin-left: 3.3rem;
}

.if_all_done {
  padding: 1rem;
  text-align: center;
  margin-top: 5rem;
  opacity: 0.3;
  font-size: 1.5rem;
}

.working_todos {
  height: 250px;
  max-height: 350px;
  overflow-y: scroll;
  border-bottom: 1px solid black;
}

.working_container {
  display: flex;
  padding: 0 4rem;
}

.working {
  width: 10px;
}

.todo_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 9rem;
  padding: 1rem 4rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.working_title {
  flex-basis: 150px;
}

.todo_item h4 {
  font-size: 1.3rem;
}

.working_text {
  width: 200px;
  word-wrap: break-word;
  word-break: keep-all;
  flex-basis: 200px;
}

.todo_item p {
  font-size: 1rem;
}

.button_box {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.button_box button {
  cursor: pointer;
}

.button_box button:nth-child(1):hover {
  background-color: rgb(255, 113, 113);
  color: white;
}

.button_box button:nth-child(2):hover {
  background-color: rgb(37, 123, 188);
  color: white;
}